.table-card {
    background: #ffe0e0;
    margin: 10px auto;
    border: 1px solid #ffc0d0;
    padding: 10px;
    padding-top: 5px;
    border-radius: 2%;
    min-width: 40%;
    max-width: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    box-sizing: content-box;
    word-break: break-all;
    text-align: start;
}

.table-col {
    padding: 5px;
}

.index {
    word-break: keep-all;
    font-size: 30px;
    text-align: center;
}

.order-number {
    background: #ffc0d0;
    color: #fffafa;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 10px;
    position: relative;
    left: -40px;
    top: -30px;
}

.kitchen-customer-name {
    font-size: 40px;
}

.btn-ready {
    display: inline-block;
    margin: 10px auto;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    padding: 10px;
    background-color: #ffc0d0;
    border-radius: 10px;
    cursor: pointer;
}

.btn-ready {
    outline: none;
}

.countdown {
    background-color: #fffafa;
    padding: 5px;
    font-weight: 600;
}