html {
  background-color: #fffafa;
}

#logo-container {
  display: flex;
  height: 130px;
}

#logo {
  width: 12%;
  margin: auto;
  
}

.app-container {
  display: flex;
  flex-direction: column;
}

.menu-content {
  display: flex;
}

.app-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.menu-options {
  display: inline-block;
  margin: auto;
}


p {
  /* display: inline-block;
  margin: 40px auto; */
  display: flex;
  text-align: center;
  justify-content: center;
}


.current-client-name {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

table {
  text-align: center;
}